.cs-container-mobile {
	width: 90%;
	margin: auto;
}

.image-container-mobile {
	float: right;
	/* width: 60%; */
	/* text-align: center; */
	/* align-self: center; */
	
}

.cs-image-mobile {
	margin-left: 25px;
	margin-right: 25px;
	/* float: right; */
	/* align-self: center; */
	/* text-align: right; */
	/* width: 20rem; */
	width: 15rem;
	border-radius: 5px;
}