.home-container {
	display: grid;
	grid-template-columns: 
        [viewport-start] minmax(1em, 1fr)
        [container-start] minmax(0, 30em) [container-end]
        minmax(1em, 1fr) [viewport-end];
	justify-items: center;
}

.home-card {
	grid-column: viewport; 
	display: inherit;
	height: 375px;
	width: 1050px;
	background-color: var(--black);
	border-radius: 10px;
	margin: 15px;
}

.home-card-container {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-rows: repeat(1, minmax(0, 1fr));
}

.home-column-1 {
	display: grid;
	grid-column-start: 1;
}

.self-portrait {
	display: flex;
	align-self: center;
	margin-left: 150px;
	height: 285px;
	/* border-radius: 5px; */
}


.home-column-2 {
	display: grid;
	grid-column-start: 2;
	/* margin-left: 50px; */
	height: 285px;
}

.home-column-2-container {
	display: block;
	justify-content: space-around;
	flex-flow: column;
	height: 285px;
	margin-top: 45px;
}

.home-heading {
	display: block;
	margin-bottom: -10px;
	text-align: left;
	font-family: var(--heading);
	font-size: 50px;
	font-weight: 600;
	color: var(--white);
}

.home-body {
	display: block;
	margin-bottom: -5px;
	font-family: var(--copy);
	text-align: left;
	font-size: large;
	margin-right: 150px;
	color: var(--white);
}