.home-container {
	display: grid;
	grid-template-columns: 
        [viewport-start] minmax(1em, 1fr)
        [container-start] minmax(0, 30em) [container-end]
        minmax(1em, 1fr) [viewport-end];
	justify-items: center;	
}

.home-card {
	grid-column: viewport; 
	display: inherit;
	height: 375px;
	width: 1050px;
	border-radius: 10px;
}

.spacer {
	height: 100px;
	visibility: hidden;
}

.home-card-container {
	display: flex;
	align-items: center;
}

.self-portrait {
	display: flex;
	flex: 1;
	text-align: left;
	margin-left: 150px;
	margin-right: 50px;
	height: 285px;
}


/* .home-column-2 {
	display: grid;
	grid-column-start: 2;
	margin-left: 50px;
	height: 285px;
} */

.home-column-2-container {
	display: flex;
	/* justify-content: space-around; */
	flex: 1;
	flex-flow: column;
	text-align: right;
	height: 285px;
	
	/* margin-top: 45px; */
}

.home-heading {
	display: block;
	margin-bottom: -10px;
	text-align: left;
	font-family: var(--heading);
	font-size: 50px;
	font-weight: 600;
	color: var(--white);
}

.home-body {
	display: block;
	margin-bottom: -5px;
	font-family: var(--copy);
	text-align: left;
	font-size: 30px;
	/* margin-right: 150px; */
	color: var(--white);
	margin-bottom: 10px;
}

.row-home {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		align-items: center;
		margin-top: 20px;
}

.link-button:hover {
	cursor: pointer;
	transition: .5s;
	opacity: .5;
}

.home-icon {
	height: 35px;
	margin-right: 15px;
}

.hi-3 {
	height: 49px;
}