.nav-bar-container {
	height: 100px;
	display: flex;
	background-color: #08090C;
	align-items: center;
	position: fixed;
	z-index: 1;
	width: 100%; 
	/* margin-bottom: 25px; */
	/* top: 0; */
	/* justify-content: flex-end; */
}

.nav-title-container {
	display: flex;
	flex: 1;
	align-items: center;
	text-align: left;
	margin-right: 250px;
}

.logo-image {
	height: 75px;
	display: inline-flex;
	/* margin-top: 15px; */
	margin-left: 30px;
	margin-bottom: 5px;
}

.page-title {
	display: inline-flex;
	color: #44A1A0;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 50px;
	/* text-transform: uppercase; */
}

.nav-link-container {
	display: flex;
	flex: 1;
	align-items: center;
	text-align: right;
	margin-right: -398px;
}

.nav-bar-link {
	text-decoration: none;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 20px;
	font-weight: 400;
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #EADEDA;
}

.nav-bar-link:hover {
	background-color: #2A2829;
	color: #44A1A0;
	opacity: .75;
}

.nav-bar-link-active {
	text-decoration: none;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 20px;
	font-weight: 400;
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2A2829;
	color: #44A1A0;
}