/* .cs-container {
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
	display: grid;
	grid-template-columns: 
        [viewport-start] minmax(1em, 1fr)
        [container-start] minmax(0, 30em) [container-end]
        minmax(1em, 1fr) [viewport-end];
	justify-items: center;
	overflow: scroll;
	overflow-x: hidden;
} */

.cs-container {
	max-width: 75%;
	margin: auto;
}

.cs-card {
	grid-column: viewport; 
	display: inherit;
	height: auto;	
	align-items: center;
}

.cs-card-container {
	display: flex;
	flex-direction: column;
	/* max-width: 850px; */
	background-color: whitesmoke;
	padding: 15px;
}

.cs-heading {
	display: block;
	margin-bottom: 5px;
	margin-left: 30px;
	text-align: left;
	font-family: var(--heading);
	font-size: 30px;
	font-weight: 600;
	color: var(--black);
}

.cs-heading-2 {
	margin-left: 0px 30px;
	margin-top: 0px;
}

.cs-body {	
	display: block;
	font-family: var(--copy);
	text-align: left;
	font-size: large;
	color: var(--black);
	margin: 0px 30px 0px 30px;
}

.cs-body-end {
	margin-bottom: 25px;
}

.cs-body-img {
 margin-right: 10px;
 text-align: justify;
}

.cs-body-mr {
	margin-right: 25px
}

.cs-border {
	margin: 0px auto auto auto;
	border-bottom: 2px solid black;
	width: 95%;
	text-align: center;
}

.cs-caption {
	font-style: italic;
	font-family: var(--body);
	font-size: 15px;
	font-style: italic;
	font-weight: 200;	
}

 /* images */

.image-container {
	float: left;
	text-align: center;
	align-self: center;
}

.image-container-center {
	margin: auto;
	margin-top: 20px;
	text-align: center;
	font-family: var(--body);
	font-size: 15px;
	font-style: italic;
	font-weight: 200;
}

.cs-image {
	margin-left: 25px;
	margin-right: 25px;
	float: left;
	align-self: center;
	text-align: right;
	height: 200px;
	border-radius: 5px;
}

.cs1-image-2 {
	border-radius: 5px;
	height: 225px;
	margin: auto;
	margin-bottom: -15px;
}

.cs-video {
	margin-left: 25px;
	margin-top: 25px;
	/* margin-right: 25px; */
	float: left;
	align-self: center;
	text-align: right;
	height: 250px;
	border-radius: 5px;
}

/* credits */

.cs-credits-end {
	margin-bottom: 30px;
}

.cs-flex-container {
	display: flex;
}

.cs-flex-2 {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.cs-credits {
	text-align: left;
	font-family: var(--heading);
	margin-bottom: -15px;
	margin-left: 30px;
	font-size: large;
	color: var(--black);
}

.cs-credits-end {
	margin-bottom: 30px;
}

.cs-button {
	display: flex;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--black);
	font-family: var(--copy);
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 20px;
	margin-top: 55px;
	width: 125px;
	height: 30px;
	background-color:  var(--opaque);
	color: var(--black);
	transition: 0.6s;
}

.cs-button:hover{
	cursor: pointer;
	opacity: .5;
}

/* @media screen and (max-width: 786px) {
	.cs-card-container{
		width: auto;
	}
} */