.cs-container {
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
	display: grid;
	grid-template-columns: 
        [viewport-start] minmax(1em, 1fr)
        [container-start] minmax(0, 30em) [container-end]
        minmax(1em, 1fr) [viewport-end];
	justify-items: center;
	overflow: scroll;
	overflow-x: hidden;
}

.cs-card {
	grid-column: viewport; 
	display: inherit;
	height: auto;
	width: 850px;
	background-color: whitesmoke;
	padding: 15px;
}

.cs-container-1 {
	display: grid;
	grid-column-start: 1;
	grid-row-start: 1;
}

.cs-container-2 {
	display: grid;
	grid-column-start: 1;
	grid-row-start: 2;
}

.cs-container-3 {
	display: grid;
	grid-column-start: 1;
	grid-row-start: 3;
}

.cs-heading {
	display: block;
	margin-bottom: 0px;
	margin-left: 30px;
	text-align: left;
	font-family: var(--heading);
	font-size: 30px;
	font-weight: 600;
	color: var(--black);
}

.cs-heading-2 {
	margin-left: 30px;
	margin-top: 0px;
}

.cs-body {	
	display: block;
	font-family: var(--copy);
	text-align: left;
	font-size: large;
	color: var(--black);
	margin-left: 30px;
	margin-right: 30px;
}


.cs-border {
	margin: auto;
	border-bottom: 2px solid black;
	width: 90%;
	text-align: center;
}

.image-container {
	display: block;
	float: left;
	text-align: center;
	font-style: italic;
	font-family: var(--body);
	font-size: 15px;
	font-style: italic;
	font-weight: 200;	
}

.image-container-center {
	margin: auto;
	margin-top: 20px;
	text-align: center;
	font-family: var(--body);
	font-size: 15px;
	font-style: italic;
	font-weight: 200;
}

.cs-image {
	margin-left: 25px;
	margin-right: 25px;
	float: left;
	align-self: center;
	text-align: right;
	height: 225px;
	border-radius: 5px;
}

.cs1-image-2 {
	border-radius: 5px;
	height: 225px;
	margin: auto;
	margin-bottom: -15px;
}

.cs-credits-end {
	margin-bottom: 30px;
}

.cs-flex-container {
	display: flex;
}

.cs-flex-2 {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.cs-credits {
	text-align: left;
	font-family: var(--heading);
	margin-bottom: -15px;
	margin-left: 30px;
	font-size: large;
	color: var(--black);
}

.cs-credits-end {
	margin-bottom: 30px;
}

.cs-button {
	display: flex;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--black);
	font-family: var(--copy);
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 20px;
	margin-top: 55px;
	width: 125px;
	height: 30px;
	background-color:  var(--opaque);
	color: var(--black);
	transition: 0.6s;
}

.cs-button:hover{
	cursor: pointer;
	opacity: .5;
}
