.cs2-image {
	margin-bottom: -12px;
	margin-left: 12px;
	margin-right: 22px;
	margin-top: 5px;
	width: 22rem;
	border-radius: 5px;
	border: 1px solid black;
}

.cs2-image-center {
	width: 75%
}

@media screen and (max-width: 768px) {


	.cs2-image {
		width: 15rem;
	}



}

@media screen and (min-width: 1200px) {
	
	.cs2-image{
		width: 24rem;
		margin-bottom: -20px;
	}

}