.about-me-container {
	display: grid;
	grid-template-columns: 
        [viewport-start] minmax(1em, 1fr)
        [container-start] minmax(0, 30em) [container-end]
        minmax(1em, 1fr) [viewport-end];
	justify-items: center;
}

.about-me-card {
	grid-column: viewport; 
	display: inherit;
	height: auto;
	width: 100%;
	background-color: whitesmoke;
	/* border-radius: 10px; */
	margin: 15px;
	padding: 15px;
}

.about-me-card-container {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-rows: repeat(1, minmax(0, 1fr));
}

.about-me-column-1 {
	display: grid;
	grid-column-start: 1;
	/* margin-left: 50px; */
	/* height: 285px; */
}

.about-me-column-1-container {
	display: block;
	justify-content: space-around;
	flex-flow: column;
	/* height: 285px; */
	/* margin-top: 45px; */
}

.about-me-column-2 {
	display: grid;
	grid-column-start: 2;
	margin-left: 50px;
	height: 285px;
}

.about-me-column-2-container {
	display: block;
	justify-content: space-around;
	flex-flow: column;
	height: 285px;
	/* margin-top: 45px; */
}

.skill-list {
	list-style: none;
}

/* .about-me-column-3 {
	display: grid;
	grid-column-start: 3;
	margin-left: 50px;
	height: 285px;
} */

/* .about-me-column-3-container {
	display: block;
	justify-content: space-around;
	flex-flow: column;
	height: 285px;
	margin-top: 45px;
} */

.about-me-heading {
	display: block;
	margin-bottom: -10px;
	margin-left: 50px;
	text-align: left;
	font-family: var(--heading);
	font-size: 50px;
	font-weight: 600;
	color: var(--black);
}

.about-me-body {
	display: block;
	/* margin-bottom: -5px; */
	margin-left: 50px;
	font-family: var(--copy);
	text-align: left;
	font-size: large;
	color: var(--black);
}

