.about-me-container {
  display: grid;
  grid-template-columns:
    [viewport-start] minmax(1em, 1fr)
    [container-start] minmax(0, 30em) [container-end]
    minmax(1em, 1fr) [viewport-end];
  justify-items: center;
}

.about-me-card {
  grid-column: viewport;
  display: inherit;
  height: auto;
  width: 100%;
  background-color: whitesmoke;
  padding-top: 15px;
  padding-bottom: 15px;
}

.about-me-card-container {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(auto));
  justify-content: center;
}

.about-me-column-1 {
  display: grid;
  grid-column-start: 1;
}

.about-me-column-1-container {
  margin: 10px;
}

.about-me-column-2 {
  display: grid;
  grid-column-start: 2;
  margin: 10px;
  justify-content: center;
}

.about-me-column-2-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.skill-list {
  list-style: none;
}

.li-bullet {
  width: 12px;
  margin-right: 4px;
}

.icon-images {
  margin-top: 10px;
}

.icon-image {
  height: 65px;
  margin-right: 7px;
}

.ii-end {
  margin-right: 0px;
}

.ii-2 {
  height: 25px;
  margin-bottom: 15px;
}

.ii-3 {
  height: 60px;
}

.ii-4 {
  height: 55px;
}

.cs-border-2 {
  display: flex;
  height: 3px;
  border-bottom: 3px solid var(--black);
  width: 100%;
  text-align: center;
  margin: 10px;
}

.about-me-heading {
  display: block;
  margin-bottom: -5px;
  margin-top: 0px;
  margin-left: 50px;
  text-align: left;
  font-family: var(--heading);
  font-size: 50px;
  font-weight: 600;
  color: var(--black);
}

.about-me-heading-2 {
  text-align: center;
  margin-left: 0;
  margin-bottom: -10px;
}

.about-me-body {
  margin-left: 50px;
  font-family: var(--copy);
  text-align: justify;
  font-size: 20px;
  color: var(--black);
}

.about-me-list-body {
  font-family: var(--copy);
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  color: var(--black);
}

@media screen and (max-width: 786px) {
  .about-me-card-container {
    display: flex;
    flex-direction: column;
  }

  .about-me-body {
    font-size: 16px;
    margin: 10px;
  }

  .about-me-column-1,
  .about-me-column-2 {
    margin: auto;
    display: flex;
  }

  .about-me-column-2 {
    /* margin-left: -25px; */
    justify-content: center;
    text-align: center;
  }

  .about-me-heading {
    font-size: 30px;
    text-align: left;
    margin: auto;
    margin-left: 10px;
  }

  .about-me-heading-2 {
    display: flex;
    margin: auto;
    margin-top: -25px;
    /* margin-left: 40px; */
    text-align: center;
    justify-self: center;
  }

  .about-me-list-body {
    font-size: 19px;
    text-align: left;
    margin: auto;
    font-weight: 400;
  }

  .cs-border-2 {
    display: none;
  }

  .icon-images {
    display: none;
  }

  .row {
    justify-content: flex-start;
    text-align: left;
  }

  .skill-list {
    text-align: left;
  }
}
